MINIO_IPADDRESS="X.X.X.X"
MINIO_USER="user"
MINIO_PASSWORD="password"
MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_API_ENDPOINT="http://MINIOADDRESS:9000"

CRAWLAB_MONGO_USER=""
CRAWLAB_MONGO_PASS=""

PRIVATE_DOCKER_REGISTRY="REGISTRY_ADDRESS"